{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <p>
        {{ entries | safe }}
    </p>
    <br/>
<!--    {{ entry_name }}-->
    <a href="{% url 'edit_entry' entry_name %}">Edit Entry</a>
    <div class="d1"></div>
    <style>
        .d1 {
            width: 2000px;
            height: 10px;
            background-color: white;
        }
        .d11{
            display:none;
        }
    </style>
    <div class="d11">
        {{ name }}
    </div>
{% endblock %}
