{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create a new entry.</h1>
    {% csrf_token %}
    <form action="{% url 'create' %}" method="get">
        <p>
            <b>Please input the name of entry:</b>
        </p>
        <p>
            <input type="text" name="title" placeholder="Entry Name">
        </p>
        <p>
            <b>Please input the description of entry:</b>
        </p>
        <p>
            <textarea class="inputbox" name="content" rows="2" cols="3" placeholder="Entry Description"></textarea>
        </p>
        <p>
            <button class="confirm_button" type="submit">Add Entry</button>
        </p>

    </form>
<!--    <div width="1500px"></div>-->
    <div class="d1"></div>
    <style>
        .d1 {
            width: 2000px;
            height: 10px;
            background-color: white;
        }
        .confirm_button{
            height: 30px;
            width : 150px;
            /*border-radius:10px;*/
        }

        /*.save_button{*/
        /*    height: 30px;*/
        /*    width : 200px;*/
        /*    border:red 2px solid;*/
        /*}*/
    </style>
{% endblock %}